// src/assets/styles/scss/_colors.scss

$primary: #1f1283;
$primary-dark: #1c1930;
$secondary: #695ccd;
$text: #717171;
$text-dark: #1e1e1e;
$white: #ffffff;
$background: #1c1930;
$background-light: #f4f2ff;
$border: #dcdcdc;
$border-light: #ececec;
$border-dark: #8c8b93;
$border-ex-ligth: #f4f2ff;
$error: #c40000;
$error-dark: #9f0000;
