// src/assets/styles/scss/_mixins.scss

@use "./typography" as *;
@use "./colors" as *;

@mixin inputField {
    .field {
        width: 100%;
        height: 2.5rem;
        background-color: $white;
        border: 0.0625rem solid $text;
        padding-left: 1rem;
        @include font-primaria;
        color: $primary-dark;
        border-radius: 0.5rem;
        margin-top: 0.25rem;

        &.field--error {
            color: $error;
            border-color: $error;
        }
    }
}

@mixin labelField {
    .label__field {
        @include font-primaria(1.125rem, 500, 0);
        color: $secondary;
        width: 100%;
        margin-bottom: 0.25rem;

        &.required {
            color: $error-dark;
        }

        span {
            @include font-primaria(0.875rem, 400, 0);
            color: $text;

            &.required {
                color: $error;
            }
        }
    }
}
